ENABLE_BACKEND_ACCESS_CONTROL=
LLM_PROVIDER=
LLM_ENDPOINT=
LLM_API_KEY=
LLM_MODEL=
LLM_MAX_COMPLETION_TOKENS=32768
BRAIN_ANSWER_MAX_COMPLETION_TOKENS=8192
JUDGE_MAX_COMPLETION_TOKENS=8192
EMBEDDING_PROVIDER=
EMBEDDING_ENDPOINT=
EMBEDDING_MODEL=
EMBEDDING_API_KEY=
EMBEDDING_DIMENSIONS=
SYSTEM_ROOT_DIRECTORY=
DATA_ROOT_DIRECTORY=
RESPAN_API_KEY=
SCALEKIT_ENVIRONMENT_URL=
SCALEKIT_CLIENT_ID=
SCALEKIT_CLIENT_SECRET=
BRAIN_API_TOKEN=
BRAIN_API_HOST=
BRAIN_API_PORT=
BRAIN_RESEARCH_LEDGER=
JUDGE_MODEL=
POSTGRES_PASSWORD=
TOIR_RUNS_PASSWORD=
DB_PROVIDER=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
COGNEE_ENV_FILE=
